@import './colors';
@import './mixins';
@import './functions';

.search-form {
  display: flex;
  flex-flow: row wrap;
}

input {
  font-size: rem-calc(14);
  padding: 7px 11px;
}

input[type='text'] {
  border: solid 1px map-get($colors, 'grey');
  flex-grow: 2;
}

input[type='submit'] {
  flex-grow: 1;
}

label {
  @include sr-only;
}