$border-radius: 5px;
$grey: #d0d0cf;

@import './functions';
@import './mixins';

.form-search {
  margin-bottom: rem-calc(30);
}

.form-group {
  display: flex;
  flex-flow: row wrap;

  input[type='text'] {
    border-top-left-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
    border-right: none;
  }

  .submit {
    border-top-right-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
  }
}

.input__text {
  background: transparent;
  border: solid 1px var(--grey);
  color: darken($grey, 30%);
  flex-grow: 2;
  font-size: rem-calc(15);
  padding: 8px 12px;

  &--dark {
    color: var(--white);
  }
}

.submit {
  background: var(--orange);
  border: solid 1px var(--orange);
  cursor: pointer;
  flex-grow: 1;
  max-width: rem-calc(45);
}

label,
.sr-only {
  @include sr-only;
}