@import './colors';
@import './mixins';
@import './functions';

$border-radius: 5px;

.form-search {
  margin-bottom: rem-calc(30);
}

.form-group {
  display: flex;
  flex-flow: row wrap;

  input[type='text'] {
    border-top-left-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
    border-right: none;
  }

  input[type='submit'] {
    border-top-right-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
  }
}

input {
  font-size: rem-calc(15);
  padding: 8px 12px;
}

input[type='text'] {
  border: solid 1px var(--grey);
  flex-grow: 2;
}

input[type='submit'] {
  background: var(--orange);
  border: solid 1px var(--orange);
  flex-grow: 1;
  cursor: pointer;
}

label {
  @include sr-only;
}