@import-normalize; /* bring in normalize.css styles */
@import './colors';

body {
  background: var(--white);
  color: var(--black);
  margin: 0;
  font-family: 'Lato', sans-serif;
}

h1, p {
  text-transform: uppercase;
}
