@import-normalize; /* bring in normalize.css styles */
@import './colors';

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background: var(--white);
  color: var(--black);
  // background: var(--black);
  // color: var(--white);
  margin: 0;
  font-family: 'Lato', sans-serif;
}

h1, p {
  text-transform: uppercase;
}
