@import './functions';

.temp {
  display: inline-block;
  font-size: rem-calc(36);
  margin-bottom: .5em;

  &::after {
    border: solid 2px var(--grey);
    border-radius: 2px;
    content: '';
    display: block;
    margin-top: .5em;
  }
}